/* ANIMASI SKILLS ORBIT */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counter-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 25s linear infinite;
}

.animate-counter-spin {
  animation: counter-spin 25s linear infinite;
}

.group-hover-pause:hover .animate-spin-slow,
.group-hover-pause:hover .animate-counter-spin {
  animation-play-state: paused;
}